.view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}
.view .header-hover {
    text-transform: uppercase;
    font-family: 'CenturyGothic', Tahoma, sans-serif;
    font-size: 15px;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    transition: all 0.4s ease-in-out;
}
.view-first .header-hover {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first .btn-hover { 
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first:hover img { 
    transform: scale(1.1);
}

.view-first:hover .video-label{
    display: none;
} 
.view-first:hover .mask { 
    opacity: 1;
}
.view-first:hover .header-hover,
.view-first:hover .btn-hover,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover .btn-hover {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}


.loader,
.loader:before,
.loader:after {
   background: #75ab4b;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
}
.loader {
    text-indent: -9999em;
    margin: 8em auto;
    position: absolute;
    font-size: 11px;
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    left: 50%;
    top: 20%;
}

.loader:after {
  left: 1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #75ab4b;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #75ab4b;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #75ab4b;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #75ab4b;
    height: 5em;
  }
}
